@import '../skeleton';
@import './grid';

$color-accent: #B8B8B8;
$color-default: #D8D8D8;

$gutter-default: 7px;
$typo-size-default: 10px;


.s-profile-mini {

    $off-left: 90px;
    $off-top: 10px;

    $lines : (
        rect($color-accent, calc(100% - #{$off-left} - #{$gutter-default}), $typo-size-default, #{$off-left}, ($gutter-default + $off-top)),
        rect($color-default, calc(90% - #{$off-left} - #{$gutter-default}), $typo-size-default, #{$off-left}, ($gutter-default * 2 + $typo-size-default + $off-top)),
        rect($color-default, calc(60% - #{$off-left} - #{$gutter-default}), $typo-size-default, #{$off-left}, ($gutter-default * 3 + $typo-size-default * 2 + $off-top)),
    );

    $profile : circle($color-default, 80px, 0px, 0px);

    $shapes : join(
        $lines,
        ()
    );

    $shapes : append($shapes, $profile);

    @include skeleton(
        $shapes...
    );

    width: 300px;
    height: 80px;
}

.s-text-lines {

    $shapes: join(
        lines(2, #B8B8B8, 90%, 20px, 10px, center, 0px, 50%, true, 2px, white),
        lines(5, #D8D8D8, 100%, 14px, 7px, center, 80px, 90%)
    );

    @include skeleton($shapes...);

    height: 190px;
}


.s-video {

    $controls-height: 40px;

    @include skeleton(
        rect(#9C9C9C, 40%, 4px, 0, calc(100% - #{$controls-height})),
        rect(#f1f1f1, 100%, 4px, 0, calc(100% - #{$controls-height})),
        rect(#f1f1f1, $controls-height, $controls-height - 12px, 6px, calc(100% - 6px)),
        rect(#f1f1f1, 30%, 7px, ($controls-height + 12px), calc(100% - #{$controls-height - 15px})),
        rect(#f1f1f1, 10%, 7px, ($controls-height + 12px), calc(100% - #{$controls-height - 27px})),
        rect(#C9C9C9, 100%, $controls-height, 0, 100%),
        rect(#D8D8D8, 100%, 100%, 0, 0)
    );

    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 14px;
}

.s-text {

    $shapes : lines(15, #D8D8D8, 100%, 12px, 7px, 0px, 0px);

    @include skeleton($shapes...);

    width: 100%;
    padding-top: 100%;
}