@import "./shapes.mixin";

$default-color-accent: #B8B8B8;
$default-color: #D8D8D8;

$gutter-default: 7px;
$typo-size-default: 10px;
$off-left: 90px;
$off-top: 10px;

@mixin skeleton-profile-small-300x80($color-accent: $default-color-accent, $color-default: $default-color) {

    @include skeleton(
        rect($color-accent, calc(100% - #{$off-left} - #{$gutter-default}), $typo-size-default, #{$off-left}, ($gutter-default + $off-top)),
        rect($color-default, calc(90% - #{$off-left} - #{$gutter-default}), $typo-size-default, #{$off-left}, ($gutter-default * 2 + $typo-size-default + $off-top)),
        rect($color-default, calc(60% - #{$off-left} - #{$gutter-default}), $typo-size-default, #{$off-left}, ($gutter-default * 3 + $typo-size-default * 2 + $off-top)),
        circle($color-default, ($typo-size-default * 4), 0px, 0px)
    );

    width: 300px;
    height: 80px;

}

@mixin skeleton-text-block($color-accent: $default-color-accent, $color-default: $default-color, $gutter: $gutter-default, $typo-size: $typo-size-default, $height: 160px) {

    @include skeleton(
        rect($color-accent, calc(80% - #{$gutter * 2}), $typo-size * 2, $gutter, ($gutter - $typo-size)),
        rect($color-default, calc(100% - #{$gutter * 2}), $typo-size, $gutter, ($gutter * 2 + $typo-size)),
        rect($color-default, calc(100% - #{$gutter * 2}), $typo-size, $gutter, ($gutter * 3 + $typo-size * 2)),
        rect($color-default, calc(100% - #{$gutter * 2}), $typo-size, $gutter, ($gutter * 4 + $typo-size * 3)),
        rect($color-default, calc(60% - #{$gutter * 2}), $typo-size, $gutter, ($gutter * 5 + $typo-size * 4))
    );

    height: $height;

}
